@{
    ViewData["Title"] = "Invoices Page";
}

@model List<Invoice>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Invoices Report</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Customer name </th>
                                <th>Invoice Amount</th>
                                <th>Invoice Date</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var invoice in Model)
                            {
                                <tr>
                                    <td>@(invoice.Customer.fname + " " + invoice.Customer.lname)</td>
                                    <td>@invoice.GrandTotal.ToString("N2")</td>
                                    <td>@invoice.Date</td>
                                    <td>
                                        <a href="@Url.Action("ViewInvoice", "Sales", new {id = invoice.Id})" class="btn btn-secondary">
                                            View
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>